@font-face {
    font-family: 'Pixelify Sans';
    src: url('PixelifySans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

p{
    font-family: 'Pixelify Sans';
}