@font-face {
    font-family: 'Pixelify Sans';
    src: url('PixelifySans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0px;
    padding: 0px;
}

h1{
    margin: 0px;
    font-size: 4rem;
    padding: 0px;
    padding-top: 1rem;
}

h1 , button{
    font-family: 'Pixelify Sans';
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.sketch{
    width: 60vw;
    height: 75vh;
    border: 1px solid black;
    box-shadow:5px 5px 5px 5px rgb(0 0 0 / .5);
}

.buttons{
    display: flex;
    gap: 3rem;
}

button{
    font-size: 1.5rem;
    box-shadow:3px 3px 3px 3px rgb(0 0 0 / .5);
}

button:hover{
    color: white;
    background-color: black;
}